<div class="md-modal md-effect-3" id="modal-3">
    <div class="md-content">
        <!-- Product Info Start -->
        <div class="product-info row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="product-details-image">
              <div class="slider-for slider">
                <div>
                  <img src="assets/img/single-product/img1.jpg" alt="">
                </div>
                <div>
                  <img src="assets/img/single-product/img2.jpg" alt="">
                </div>
                <div>
                  <img src="assets/img/single-product/img3.jpg" alt="">
                </div>
                <div>
                  <img src="assets/img/single-product/img4.jpg" alt="">
                </div>
                <div>
                  <img src="assets/img/single-product/img5.jpg" alt="">
                </div>
                <div>
                  <img src="assets/img/single-product/img3.jpg" alt="">
                </div>
              </div>
              <ul id="productthumbnail" class="slider slider-nav">
                <li>
                  <img src="assets/img/single-product/small/img1.jpg" alt="">
                </li>
                <li>
                  <img src="assets/img/single-product/small/img2.jpg" alt="">
                </li>
                <li>
                  <img src="assets/img/single-product/small/img3.jpg" alt="">
                </li>
                <li>
                  <img src="assets/img/single-product/small/img4.jpg" alt="">
                </li>
                <li>
                  <img src="assets/img/single-product/small/img5.jpg" alt="">
                </li>
                <li>
                  <img src="assets/img/single-product/small/img3.jpg" alt="">
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-8 col-sm-6 col-xs-12">
            <div class="info-panel">
              <h1 class="product-title">Proin Lectus Ipsum</h1>
              <!-- Rattion Price -->
              <div class="price-ratting">
                <div class="price float-left">
                  $ 18.00
                </div>
              </div>
              <!-- Short Description -->
              <div class="short-desc">
                <h5 class="sub-title">Quick Overview</h5>
                <p>There are many variations of passages of Lorem Ipsum avaable, b majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
              </div>  
              <!-- Product Size -->            
              <div class="product-size">
                <h5 class="sub-title">Select Size</h5>
                <span>S</span>
                <span class="active">M</span>
                <span>L</span>
                <span>XL</span>
              </div>
              <!-- Quantity Cart -->
              <div class="quantity-cart">
                <button class="btn btn-common"><i class="icon-basket"></i> add to cart</button>
              </div>
              <!-- Share -->
              <div class="share-icons pull-right">
                <span>share :</span>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
              </div>
            </div>
          </div>      
        </div>
        <!-- Product Info End -->
        <button class="md-close"><i class="icon-close"></i></button>
    </div>
  </div>
  <div class="md-overlay"></div>