<section id="services" class="section">
    <!-- Container Starts -->
    <div class="container">
      <div class="row">          
        <!-- Start Service-->
        <div class="col-md-4 col-sm-6">
          <div class="services-box">
            <div class="services-icon">
              <i class="icon-people"></i>
            </div>
            <div class="services-content">
              <h4><a href="#">Multi-vendor eCommerce</a></h4>
              <p>
                Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
              </p>
            </div>
          </div>
        </div>
        <!-- End Service-->
        <!-- Start Service-->
        <div class="col-md-4 col-sm-6">
          <div class="services-box">
            <div class="services-icon">
              <i class="icon-screen-desktop"></i>
            </div>
            <div class="services-content">
              <h4><a href="#">Clean Design</a></h4>
              <p>
                Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
              </p>
            </div>
          </div>
        </div>
        <!-- End Service-->
        <!-- Start Service-->
        <div class="col-md-4 col-sm-6">
          <div class="services-box">
            <div class="services-icon">
              <i class="icon-basket-loaded"></i>
            </div>
            <div class="services-content">
              <h4><a href="#">100+ eCommerce Elements</a></h4>
              <p>
                Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
              </p>
            </div>
          </div>
        </div>
        <!-- End Service-->
        <!-- Start Service-->
        <div class="col-md-4 col-sm-6">
          <div class="services-box">
            <div class="services-icon">
              <i class="icon-layers"></i>
            </div>
            <div class="services-content">
              <h4><a href="#">Included Business Pages</a></h4>
              <p>
                Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
              </p>
            </div>
          </div>
        </div>
        <!-- End Service-->
        <!-- Start Service-->
        <div class="col-md-4 col-sm-6">
          <div class="services-box">
            <div class="services-icon">
              <i class="icon-screen-tablet"></i>
            </div>
            <div class="services-content">
              <h4><a href="#">Fully Responsive</a></h4>
              <p>
                Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
              </p>
            </div>
          </div>
        </div>
        <!-- End Service-->
        <!-- Start Service -->
        <div class="col-md-4 col-sm-6">
          <div class="services-box">
            <div class="services-icon">
              <i class="icon-chemistry"></i>
            </div>
            <div class="services-content">
              <h4><a href="#">Cutting-edge Features</a></h4>
              <p>
                Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
              </p>
            </div>
          </div>
        </div>
        <!-- End Service-->
        <!-- Start Service-->
        <div class="col-md-4 col-sm-6">
          <div class="services-box">
            <div class="services-icon">
              <i class="icon-settings"></i>
            </div>
            <div class="services-content">
              <h4><a href="#">Completely Customizable</a></h4>
              <p>
                Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
              </p>
            </div>
          </div>
        </div>
        <!-- End Service-->
        <!-- Start Service-->
        <div class="col-md-4 col-sm-6">
          <div class="services-box">
            <div class="services-icon">
              <i class="icon-rocket"></i>
            </div>
            <div class="services-content">
              <h4><a href="#">Fast and Well-optimized</a></h4>
              <p>
                Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
              </p>
            </div>
          </div>
        </div>
        <!-- End Service-->
        <!-- Start Service -->
        <div class="col-md-4 col-sm-6">
          <div class="services-box">
            <div class="services-icon">
              <i class="icon-umbrella"></i>
            </div>
            <div class="services-content">
              <h4><a href="#">Rich Doc and Support</a></h4>
              <p>
                Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
              </p>
            </div>
          </div>
        </div>
        <!-- End Service-->
      </div>
    </div>
    <!-- Container Ends -->
  </section>