<section class="latest-blog section"> 
    <div class="container">
      <h1 class="section-title">Latest Blog</h1>
      <hr class="lines">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="blog-item">
            <div class="blog-img">
              <a href="blog-details.html">
                <img src="assets/img/blog/img1.jpg"  alt="">
              </a>
              <div class="mask">
              </div>
            </div>
            <div class="blog-info">
              <div class="post-date">16 April</div>
              <h3><a href="blog-details.html">Where Trends Going Next</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In atque, qui cum voluptatem quibusdam dolore veniam....</p>
              <a href="blog-details.html" class="readmore">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="blog-item">
            <div class="blog-img">
              <a href="blog-details.html">
                <img src="assets/img/blog/img2.jpg"  alt="">
              </a>
              <div class="mask">
              </div>
            </div>
            <div class="blog-info">
              <div class="post-date">16 April</div>
              <h3><a href="blog-details.html">Ellie Goulding – High For This</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In atque, qui cum voluptatem quibusdam dolore veniam....</p>
              <a href="blog-details.html" class="readmore">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="blog-item">
            <div class="blog-img">
              <a href="blog-details.html">
                <img src="assets/img/blog/img3.jpg"  alt="">
              </a>
              <div class="mask">
              </div>
            </div>
            <div class="blog-info">
              <div class="post-date">16 April</div>
              <h3><a href="blog-details.html">Best Photography of 2017</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In atque, qui cum voluptatem quibusdam dolore veniam....</p>
              <a href="blog-details.html" class="readmore">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>