<section class="section">
  <div class="container">
    <h1 class="section-title">Featured Products</h1>
    <hr class="lines">
    <div class="row">
      <owl-carousel-o [options]="carouselOptions">
        <ng-container *ngFor="let item of productsData">
          <ng-template carouselSlide>
            <div class="m-3">
              <app-product-item [isColumn]="false" [product]="item"></app-product-item>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</section>
