<div class="col-12 mb-20">
    <div class="wg-box">
        <h3>Add User</h3>
        <div class="row">
            <div class="col-12 mb-20">
                <div>
                    <form>
                        <fieldset class="first_name mb-24">
                            <div class="body-title mb-10">First Name <span class="tf-color-1">*</span></div>
                            <input type="text" placeholder="First Name" name="first_name" tabindex="0" aria-required="true" required="">
                        </fieldset>
                        <fieldset class="last_name mb-24">
                            <div class="body-title mb-10">Last Name <span class="tf-color-1">*</span></div>
                            <input type="text" placeholder="Last Name" name="last_name" tabindex="1" aria-required="true" required="">
                        </fieldset>
                        <fieldset class="username mb-24">
                            <div class="body-title mb-10">Username <span class="tf-color-1">*</span></div>
                            <input type="text" placeholder="Username" name="username" tabindex="2" aria-required="true" required="">
                        </fieldset>
                        <fieldset class="email mb-24">
                            <div class="body-title mb-10">Email <span class="tf-color-1">*</span></div>
                            <input type="email" placeholder="Email" name="email" tabindex="3" aria-required="true" required="">
                        </fieldset>
                        <fieldset class="password mb-24">
                            <div class="body-title mb-10">Password <span class="tf-color-1">*</span></div>
                            <input type="password" placeholder="Password" name="password" tabindex="4" aria-required="true" required="">
                        </fieldset>
                        <fieldset class="is_admin mb-24">
                            <div class="body-title mb-10">Is Admin?</div>
                            <input type="checkbox" name="is_admin" id="is_admin" tabindex="6">
                            <label for="is_admin" style="font-size: 16px; margin-left: 8px;">Check if the user is an admin</label>
                        </fieldset>
                        
                        <div class="bot">
                            <button class="tf-button save" type="submit">Save</button>
                            <button class="tf-button update" type="button">Update</button>
                            <button class="tf-button delete" type="button" style="background-color: red;">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
