<app-bread-crumb [breadcrumbs]="breadcrumbs" [title]="'Shop'"></app-bread-crumb>
<div id="content" class="product-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="widget-search md-30">
                    <form action="#">
                        <input class="form-control" placeholder="Search here..." type="text">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
                <div class="widget-ct widget-categories mb-30">
                    <div class="widget-s-title">
                        <h4>Categories</h4>
                    </div>
                    <ul id="accordion-category" class="product-cat">
                        <li class="panel">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-category"
                                href="#category1">Fashion <span><i class="icon-arrow-down"></i></span></a>
                            <div id="category1" class="panel-collapse collapse">
                                <ul class="listSidebar">
                                    <li><a href="#">Men</a></li>
                                    <li><a href="#">Women</a></li>
                                    <li><a href="#">Bag</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#">Trending <span>(69)</span></a></li>
                        <li><a href="#">New Arrivals <span>(27)</span></a></li>
                        <li><a href="#">Flowerpot<span>(57)</span></a></li>
                        <li><a href="#">Cups<span>(39)</span></a></li>
                        <li><a href="#">Beauty<span>(95)</span></a></li>
                        <li><a href="#">Wall Hook <span>(69)</span></a></li>
                        <li><a href="#" class="pr-all">Product All</a></li>
                    </ul>
                </div>
                <div class="widget-ct widget-color mb-30">
                    <div class="widget-s-title">
                        <h4>Color</h4>
                    </div>
                    <div class="widget-info color-filter clearfix">
                        <ul>
                            <li><a href="#"><span class="color color-1"></span>LightSalmon<span
                                        class="count">12</span></a></li>
                            <li><a href="#"><span class="color color-2"></span>Dark Salmon<span
                                        class="count">20</span></a></li>
                            <li><a href="#"><span class="color color-3"></span>Tomato<span class="count">59</span></a>
                            </li>
                            <li class="active"><a href="#"><span class="color color-4"></span>Deep Sky Blue<span
                                        class="count">45</span></a></li>
                            <li><a href="#"><span class="color color-5"></span>Electric Purple<span
                                        class="count">78</span></a></li>
                            <li><a href="#"><span class="color color-6"></span>Atlantis<span class="count">10</span></a>
                            </li>
                            <li><a href="#"><span class="color color-7"></span>Deep Lilac<span
                                        class="count">15</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="shop-content">
                    <div class="col-md-12">
                        <div class="product-option mb-30 clearfix">
                            <ul class="shop-tab">
                                <li [ngClass]="!isListView ? 'active' : ''">
                                    <a href="#" (click)="changeView('grid', $event)">
                                        <i class="icon-grid"></i>
                                    </a>
                                </li>
                                <li [ngClass]="isListView ? 'active' : ''">
                                    <a href="#" (click)="changeView('list', $event)">
                                        <i class="icon-list"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- Size end -->
                            <div class="showing text-right">
                                <p class="hidden-xs">Showing 01-09 of {{productsData.length}} Results</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="grid-view" class="tab-pane active" *ngIf="!isListView">
                            <div *ngFor="let item of productsData">
                                <app-product-item [isListView]="false" [isColumn]="false" [isShopPage]="true"
                                    [product]="item" />
                            </div>
                        </div>
                        <div id="list-view" class="tab-pane" *ngIf="isListView">
                            <div class="shop-list">
                                <div *ngFor="let item of productsData">
                                    <app-product-item [isListView]="true" [isColumn]="false" [isShopPage]="true"
                                        [product]="item" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Pagination -->
                <app-pagination [currentPage]="1" [total]="productsData.length" [showingStart]="1" [showingEnd]="5"
                    [pages]="[]" />
                <!-- End Pagination -->
            </div>
        </div>
    </div>
</div>