<div class="section-menu-left">
    <div class="box-logo">
        <a routerLink="/admin/dashboard" id="site-logo-inner">
            <img class="" id="logo_header" alt="" src="images/logo/logo.png" data-light="images/logo/logo.png"
                data-dark="images/logo/logo-dark.png">
        </a>
    </div>
    <div class="section-menu-left-wrap">
        <div class="center">
            <div class="center-item">
                <div class="center-heading">Main Home</div>
                <ul class="menu-list">
                    <li class="menu-item active" ariaCurrentWhenActive="page" routerLinkActive="active">
                        <a routerLink="/admin/dashboard" class="menu-item-button">
                            <div class="text">Dashboard</div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="center-item">
                <div class="center-heading">All page</div>
                <ul class="menu-list">
                    <li class="menu-item has-children">
                        <a href="#" class="menu-item-button" (click)="toggleDropdown($event, 'ecommerce')">
                            <div class="icon"><i class="icon-shopping-cart"></i></div>
                            <div class="text">Ecommerce</div>
                        </a>
                        <ul class="sub-menu" [ngStyle]="isDropdownOpen['ecommerce'] ? {display: 'block'} : {}">
                            <li class="sub-menu-item">
                                <a routerLink="product/add" class="">
                                    <div class="text">Add Product</div>
                                </a>
                            </li>
                            <li class="sub-menu-item">
                                <a routerLink="products" class="">
                                    <div class="text">Product List</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item has-children">
                        <a href="#" class="menu-item-button" (click)="toggleDropdown($event, 'category')">
                            <div class="icon"><i class="icon-layers"></i></div>
                            <div class="text">Category</div>
                        </a>
                        <ul class="sub-menu" [ngStyle]="isDropdownOpen['category'] ? {display: 'block'} : {}">
                            <li class="sub-menu-item">
                                <a routerLink="categories" class="">
                                    <div class="text">Category list</div>
                                </a>
                            </li>
                            <li class="sub-menu-item">
                                <a routerLink="category/add" class="">
                                    <div class="text">New category</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item has-children">
                        <a href="#" class="menu-item-button" (click)="toggleDropdown($event, 'order')">
                            <div class="icon"><i class="icon-file-plus"></i></div>
                            <div class="text">Order</div>
                        </a>
                        <ul class="sub-menu" [ngStyle]="isDropdownOpen['order'] ? {display: 'block'} : {}">
                            <li class="sub-menu-item">
                                <a routerLink="orders" class="">
                                    <div class="text">Order list</div>
                                </a>
                            </li>
                            <li class="sub-menu-item">
                                <a routerLink="order/tracking" class="">
                                    <div class="text">Order tracking</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item has-children">
                        <a href="#" class="menu-item-button" (click)="toggleDropdown($event, 'user')">
                            <div class="icon"><i class="icon-user"></i></div>
                            <div class="text">User</div>
                        </a>
                        <ul class="sub-menu" [ngStyle]="isDropdownOpen['user'] ? {display: 'block'} : {}">
                            <li class="sub-menu-item">
                                <a routerLink="users" class="">
                                    <div class="text">All user</div>
                                </a>
                            </li>
                            <li class="sub-menu-item">
                                <a routerLink="user/add" class="">
                                    <div class="text">Add new user</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="center-item">
                <div class="center-heading">Setting</div>
                <ul class="menu-list">
                    <li class="menu-item has-children">
                        <a href="#" class="menu-item-button" (click)="toggleDropdown($event, 'location')">
                            <div class="icon"><i class="icon-map-pin"></i></div>
                            <div class="text">Location</div>
                        </a>
                        <ul class="sub-menu" [ngStyle]="isDropdownOpen['location'] ? {display: 'block'} : {}">
                            <li class="sub-menu-item">
                                <a routerLink="location/countries" class="">
                                    <div class="text">Countries</div>
                                </a>
                            </li>
                            <li class="sub-menu-item">
                                <a routerLink="location/states" class="">
                                    <div class="text">States</div>
                                </a>
                            </li>
                            <li class="sub-menu-item">
                                <a routerLink="location/cities" class="">
                                    <div class="text">Cities</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a routerLink="settings" class="">
                            <div class="icon"><i class="icon-settings"></i></div>
                            <div class="text">Setting</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
