.layout-wrap .section-menu-left .center .menu-item.has-children::after {
    position: absolute;
    content: "" !important;
    top: 15px;
    right: 14px;
    color: #111111;
    font-size: 16px;
    font-family: "icomoon";
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

.section-menu-left {
    width: 250px;
    background-color: #f8f9fa; /* Light background */
}

.menu-list {
    list-style-type: none;
    padding: 0;
}

.menu-item {
    cursor: pointer;
}

.sub-menu {
    padding-left: 15px; /* Indent sub-menu */
    display: none; /* Hide by default */
}

.sub-menu-item {
    padding: 5px 0; /* Spacing for sub-menu items */
}

/* Show sub-menu when its parent is active */
.sub-menu.ng-trigger.ng-trigger-fadeIn {
    display: block;
}
