<div id="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <!-- Name & Address -->
          <h2 class="title-checkout"><i class="icon-user"></i>Name & Address</h2>
          <form>
            <div class="form-group">
              <label>First Name <sup>*</sup></label>
              <input class="form-control" type="text">
            </div>  
            <div class="form-group">
              <label>Company</label>
              <input class="form-control" type="text">
            </div>
            <div class="form-group">
              <span class="note pull-right">* Required Fields</span>
              <label>Last Name  <sup>*</sup></label>
              <input class="form-control" type="text">
            </div>
            <div class="form-group">
              <label>Email Address  <sup>*</sup></label>
              <input class="form-control" type="email">
            </div>               
            <div class="form-group">
              <label>Address 1 <sup>*</sup></label>
              <input class="form-control" type="text">
            </div>            
            <div class="form-group">
              <input class="form-control" type="text">
            </div>

            <!-- row-col-1 -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>City <sup>*</sup></label>
                  <input class="form-control" type="text">
                </div>
                <div class="form-group">
                  <label>Zip/Postal Code <sup>*</sup></label>
                  <input class="form-control" type="text">
                </div>
                <div class="form-group">
                  <label>Telephone <sup>*</sup></label>
                  <input class="form-control" type="text">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                    <label>State/Province <sup>*</sup></label>
                    <select class="selectpicker">
                      <option selected="selected" value="menu-order">State</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Country <sup>*</sup></label>
                    <select class="selectpicker">
                      <option selected="selected" value="menu-order">Country</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Fax</label>
                    <select class="selectpicker">
                      <option selected="selected" value="menu-order">Fax</option>
                    </select>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <!-- Shipping & Address -->
          <h2 class="title-checkout"><i class="icon-home"></i>Shipping Address</h2>
          <form>
            <div class="form-group">
              <label>First Name <sup>*</sup></label>
              <input class="form-control" type="text">
            </div>  
            <div class="form-group">
              <label>Company</label>
              <input class="form-control" type="text">
            </div>
            <div class="form-group">
              <span class="note pull-right">* Required Fields</span>
              <label>Last Name  <sup>*</sup></label>
              <input class="form-control" type="text">
            </div>
            <div class="form-group">
              <label>Email Address  <sup>*</sup></label>
              <input class="form-control" type="email">
            </div>               
            <div class="form-group">
              <label>Address 1 <sup>*</sup></label>
              <input class="form-control" type="text">
            </div>            
            <div class="form-group">
              <input class="form-control" type="text">
            </div>

            <!-- row-col-1 -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>City <sup>*</sup></label>
                  <input class="form-control" type="text">
                </div>
                <div class="form-group">
                  <label>Zip/Postal Code <sup>*</sup></label>
                  <input class="form-control" type="text">
                </div>
                <div class="form-group">
                  <label>Telephone <sup>*</sup></label>
                  <input class="form-control" type="text">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                    <label>State/Province <sup>*</sup></label>
                    <select class="selectpicker">
                      <option selected="selected" value="menu-order">State</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Country <sup>*</sup></label>
                    <select class="selectpicker">
                      <option selected="selected" value="menu-order">Country</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Fax</label>
                    <select class="selectpicker">
                      <option selected="selected" value="menu-order">Fax</option>
                    </select>
                </div>
              </div>
            </div>
          </form>
        </div>          
      </div>

      <div class="mb-50"></div>

      <div class="row">
        <div class="col-md-6 col-sm-6 col-sx-12">
          <div class="order-details">
            <h2 class="title-checkout"><i class="icon-basket-loaded"></i>Your Order</h2>
            <div class="order_review margin-bottom-35">
              <table class="table table-responsive table-review-order">
                <thead>
                  <tr>
                    <th class="product-name">Product</th>
                    <th class="product-total">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><p>Challenge Battery Hammer Drill</p></td>
                    <td><p class="price">$190.00</p></td>
                  </tr>
                  <tr>
                    <td><p>Power X Change Battery - 3.0 mAh</p></td>
                    <td><p class="price">$34.00</p></td>
                  </tr>
                  <tr>
                    <td><p>Percussion Hammer Drill</p></td>
                    <td><p class="price">$87.00</p></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Subtotal</th>
                    <td>
                      <p class="price">$87.00</p>
                    </td>
                  </tr>
                  <tr>
                    <th>Shipping</th>
                    <td>
                      <form action="#" class="shipping">
                        <div class="radio">
                        <label><input checked="" type="radio"> <span>Free Shipping</span></label>
                        </div>
                        <div class="radio">
                        <label><input type="radio"> <span>Flat Rate:</span> </label><span class="price"> $10.00</span>
                        </div>
                      </form>
                    </td>
                  </tr>
                  <tr>
                    <th>Total</th>
                    <td><p class="price">$197.00</p></td>
                  </tr>
                </tfoot>               
              </table>
            </div>               
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-sx-12">
          <!-- Payment Method -->
          <h2 class="title-checkout">
            <i class="icon-credit-card"></i>
            Payment Method
          </h2>
          <!-- /Payment Method -->
          <div class="form-group form-group-top clearfix">
            <div class="radio">
              <label><input checked="" type="radio"><span>Free Shipping</span></label>
            </div>
            <div class="radio">
              <label><input type="radio"> <span>Flat Rate: $10.00</span></label>
            </div> 
          </div>
          <div class="form-group">
            <label>Name on Card <sup>*</sup></label>
            <input class="form-control" type="text">
          </div>
          <div class="form-group">
            <label>Credit Card Type <sup>*</sup></label>
            <select class="selectpicker">
              <option selected="selected" value="menu-order">Type</option>
            </select>
          </div>
          <div class="form-group">
            <label>Credit Card Number  <sup>*</sup></label>
            <input class="form-control" type="text">
          </div>     
          <div class="form-group">
            <label>Card Verification Number<sup>*</sup></label>
            <input class="form-control" type="text">
          </div>
          <!-- GRAND TOTAL -->
          <div class="card card--padding fill-bg">
            <table class="table-total-checkout">                
              <tbody>
                <tr>
                  <th>GRAND TOTAL:</th>
                  <td>$197.00</td>
                </tr>
              </tbody>
            </table>
            <a href="#" class="btn btn-common btn-full">Place Order Now <span class="icon-action-redo"></span></a>              
          </div>
          <!-- /GRAND TOTAL -->
        </div>
      </div>
    </div>
  </div>