<div class="top-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-2">
          <div class="language-wrapper">
            <a routerLink='/'><i class="icon-phone"></i> Call Us: (123) 456- 789</a>
          </div>
        </div>
        <div class="col-md-8 col-sm-10">
          <!-- shopping cart end -->
          <div class="search-area">
            <form>
              <div class="control-group">
                <ul class="categories-filter animate-dropdown">
                  <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown">Categories
                      <span class="caret"></span></a>
                    <ul class="dropdown-menu animated fadeIn">
                      <li class="menu-header">Clothing</li>
                      <li><a tabindex="-1" routerLink="/">- Men</a></li>
                      <li><a tabindex="-1" routerLink="/">- Women</a></li>
                      <li><a tabindex="-1" routerLink="/">- Boys</a></li>
                      <li><a tabindex="-1" routerLink="/">- Girls</a></li>
                      <li class="menu-header">Electronics</li>
                      <li><a tabindex="-1" routerLink="/">- Laptops</a></li>
                      <li><a tabindex="-1" routerLink='/'>- Desktops</a></li>
                      <li><a tabindex="-1" routerLink='/'>- Cameras</a></li>
                      <li><a tabindex="-1" routerLink='/'>- Mobile Phones</a></li>
                    </ul>
                  </li>
                </ul>
                <input class="search-field" placeholder="Search here...">
                <a class="search-button" routerLink='/'><i class="icon-magnifier"></i></a>
              </div>
            </form>
          </div>
  
          <div class="shop-cart">
            <ul>
              <li><a class="cart-icon cart-btn" routerLink="/wishlist"><span class="icon-heart"></span></a></li>
              <li>
                <a routerLink='/' class="cart-icon cart-btn"><i class="icon-basket"></i><span class="cart-label">3</span></a>
                <div class="cart-box">
                  <div class="popup-container">
                    <div class="cart-entry">
                      <a routerLink='/' class="image">
                        <img src="assets/img/products/product-menu-1.jpg" alt="">
                      </a>
                      <div class="content">
                        <a routerLink='/' class="title">Pullover Batwing</a>
                        <p class="quantity">Quantity: 3</p>
                        <span class="price">$45.00</span>
                      </div>
                      <div class="button-x">
                        <i class="icon-close"></i>
                      </div>
                    </div>
                    <div class="cart-entry">
                      <a routerLink='/' class="image">
                        <img src="assets/img/products/product-menu-2.jpg" alt="">
                      </a>
                      <div class="content">
                        <a routerLink='/' class="title">Pullover Batwing</a>
                        <p class="quantity">Quantity: 3</p>
                        <span class="price">$90.00</span>
                      </div>
                      <div class="button-x">
                        <i class="icon-close"></i>
                      </div>
                    </div>
                    <div class="summary">
                      <div class="subtotal">Sub Total</div>
                      <div class="price-s">$210.5</div>
                    </div>
                    <div class="cart-buttons">
                      <a routerLink='/checkout' class="btn btn-common">Checkout</a>
                      <div class="clear"></div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="account link-inline">
            <a [routerLink]="['/login']" routerLinkActive="router-link-active"><i class="icon-login"></i><span class="hidden-mobile">login/register</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  