<div class="col-12 mb-20">
    <div class="wg-box">
        <h3>{{title}}</h3>
        <div class="row">
            <div class="col-12 mb-20">
                <div>
                    <form class=""> 
                        <fieldset class="name mb-24">
                            <div class="body-title mb-10">Name <span class="tf-color-1">*</span></div>
                            <input class="" type="text" placeholder="Name" name="text" tabindex="0" value=""
                                aria-required="true" required="">
                        </fieldset>
                        <fieldset class="category mb-24">
                            <div class="body-title mb-10">Category Type <span class="tf-color-1">*</span></div>
                            <select class="full-width" name="category_type" required="">
                                <option value="" disabled selected>Select Category</option>
                                <option value="Product">Product</option>
                                <option value="Blog">Blog</option>
                            </select>
                        </fieldset>
                        <div class="bot">
                            <button class="tf-button save" type="submit">Save</button>
                            <button class="tf-button update" type="button">Update</button>
                            <button class="tf-button delete" type="button">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>