<div class="col-12 mb-20">
    <div class="wg-box">
        <h3>{{title}}</h3>
        <div class="row">
            <div class="col-12 mb-20">
                <div>
                    <form class="">
                        <fieldset class="name mb-24">
                            <div class="body-title mb-10">Name <span class="tf-color-1">*</span></div>
                            <input class="" type="text" placeholder="Name" name="text" tabindex="0" value=""
                                aria-required="true" required="">
                        </fieldset>
                        <fieldset class="email mb-24">
                            <div class="body-title mb-10">Admin email</div>
                            <input class="flex-grow" type="email" placeholder="Enter your email" name="email"
                                tabindex="0" value="" aria-required="true" required="">
                        </fieldset>
                        <fieldset class="description mb-24">
                            <div class="body-title mb-10">Description <span class="tf-color-1">*</span></div>
                            <textarea class="" name="description" placeholder="Description" tabindex="0"
                                aria-required="true" required=""></textarea>
                        </fieldset>
                        <div class="bot">
                            <button class="tf-button w208" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>