<div class="testimonial section">
  <div class="container">
    <div class="row">
      <!-- Testimonial section -->
      <owl-carousel-o [options]="carouselOptions">
        <ng-container *ngFor="let testimonial of testimonialsData">
          <ng-template carouselSlide>
            <div class="testimonial-item">
              <div class="img">
                <a href="#">
                  <img [src]="testimonial.image" alt="Testimonial Image" />
                </a>
              </div>
              <div class="datils">
                <p>{{ testimonial.text }}</p>
                <h5>{{ testimonial.name }}</h5>
                <span>{{ testimonial.position }}</span>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</div>
