<section id="content-area">
    <div class="container">
      <div class="hero-land clearfix">
        <div class="landing caption">
          <h2>Multi-vendor eCommerce Template</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis rem, ducimus reprehenderit sed molestiae iure sapiente accusamus incidunt minima expedita velit assumenda vitae libero. Eaque nostrum magni architecto, corporis doloremque!</p>
          <p>
            <a routerLink="/shop" class="btn btn-common">Explore</a>
          </p>
        </div>
      </div>
    </div>
  </section>