<div class="col-12 mb-20">
    <div class="wg-box">
        <h3>Add Shop</h3>
        <div class="row">
            <div class="col-12 mb-20">
                <div>
                    <form [formGroup]="form" class="shop-form">
                        <fieldset class="name mb-24">
                            <div class="body-title mb-10">Name <span class="tf-color-1">*</span></div>
                            <input type="text" class="full-width" placeholder="Name" formControlName="name" aria-required="true" required="">
                            <div *ngIf="form.get('name')?.invalid && (form.get('name')?.touched)">
                                <small class="error" style="color: red;">Name is required.</small>
                            </div>
                        </fieldset>

                        <fieldset class="author-name mb-24">
                            <div class="body-title mb-10">Author Name <span class="tf-color-1">*</span></div>
                            <input type="text" class="full-width" placeholder="Author Name" formControlName="author_name" required="">
                            <div *ngIf="form.get('author_name')?.invalid && (form.get('author_name')?.touched)">
                                <small class="error" style="color: red;">Author Name is required.</small>
                            </div>
                        </fieldset>

                        <fieldset class="email mb-24">
                            <div class="body-title mb-10">Email <span class="tf-color-1">*</span></div>
                            <input type="email" class="full-width" placeholder="Email" formControlName="email" required="">
                            <div *ngIf="form.get('email')?.invalid && (form.get('email')?.touched)">
                                <small class="error" style="color: red;">
                                    <ng-container *ngIf="form.get('email')?.errors?.['required']">Email is required.</ng-container>
                                    <ng-container *ngIf="form.get('email')?.errors?.['email']">Invalid email format.</ng-container>
                                </small>
                            </div>
                        </fieldset>

                        <fieldset class="phone mb-24">
                            <div class="body-title mb-10">Phone <span class="tf-color-1">*</span></div>
                            <input type="text" class="full-width" placeholder="Phone" formControlName="phone" required="">
                            <div *ngIf="form.get('phone')?.invalid && (form.get('phone')?.touched)">
                                <small class="error" style="color: red;">Phone is required.</small>
                            </div>
                        </fieldset>

                        <fieldset class="description mb-24">
                            <div class="body-title mb-10">Description <span class="tf-color-1">*</span></div>
                            <textarea class="full-width" placeholder="Description" formControlName="description" required=""></textarea>
                            <div *ngIf="form.get('description')?.invalid && (form.get('description')?.touched)">
                                <small class="error" style="color: red;">Description is required.</small>
                            </div>
                        </fieldset>

                        <fieldset class="company-name mb-24">
                            <div class="body-title mb-10">Company Name <span class="tf-color-1">*</span></div>
                            <input type="text" class="full-width" placeholder="Company Name" formControlName="company_name" required="">
                            <div *ngIf="form.get('company_name')?.invalid && (form.get('company_name')?.touched)">
                                <small class="error" style="color: red;">Company Name is required.</small>
                            </div>
                        </fieldset>

                        <fieldset class="website mb-24">
                            <div class="body-title mb-10">Website</div>
                            <input type="text" class="full-width" placeholder="Website URL" formControlName="website">
                        </fieldset>

                        <fieldset class="country mb-24">
                            <div class="body-title mb-10">Country <span class="tf-color-1">*</span></div>
                            <select class="full-width" formControlName="country" (change)="onCountryChange()" required>
                                <option value="" disabled selected>Select Country</option>
                                <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
                            </select>
                            <div *ngIf="form.get('country')?.invalid && (form.get('country')?.touched)">
                                <small class="error" style="color: red;">Country is required.</small>
                            </div>
                        </fieldset>

                        <fieldset class="state mb-24" *ngIf="form.get('country')?.value">
                            <div class="body-title mb-10">State <span class="tf-color-1">*</span></div>
                            <select class="full-width" formControlName="state" (change)="onStateChange()" required>
                                <option value="" disabled selected>Select State</option>
                                <option *ngFor="let state of states[form.get('country')?.value]" [value]="state">{{ state }}</option>
                            </select>
                            <div *ngIf="form.get('state')?.invalid && (form.get('state')?.touched)">
                                <small class="error" style="color: red;">State is required.</small>
                            </div>
                        </fieldset>

                        <fieldset class="city mb-24" *ngIf="form.get('state')?.value">
                            <div class="body-title mb-10">City <span class="tf-color-1">*</span></div>
                            <select class="full-width" formControlName="city" required>
                                <option value="" disabled selected>Select City</option>
                                <option *ngFor="let city of cities[form.get('state')?.value]" [value]="city">{{ city }}</option>
                            </select>
                            <div *ngIf="form.get('city')?.invalid && (form.get('city')?.touched)">
                                <small class="error" style="color: red;">City is required.</small>
                            </div>
                        </fieldset>

                        <fieldset class="category mb-24">
                            <div class="body-title mb-10">Category Type <span class="tf-color-1">*</span></div>
                            <select class="full-width" formControlName="category_type" required>
                                <option value="" disabled selected>Select Category</option>
                                <option value="Product">Product</option>
                                <option value="Blog">Blog</option>
                            </select>
                            <div *ngIf="form.get('category_type')?.invalid && (form.get('category_type')?.touched)">
                                <small class="error" style="color: red;">Category Type is required.</small>
                            </div>
                        </fieldset>

                        <div class="bot">
                            <button class="tf-button save" type="button" (click)="validateForm()">Save</button>
                            <button class="tf-button update" type="button">Update</button>
                            <button class="tf-button delete" type="button" style="background-color: red;">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
